.generate{
    width: 100%;
    height: auto;
    background-color:#c2dfff ;
    opacity:1;
}
.bubble{
    padding: 10% 20% 12% 20%;
}         
.bubble6 {
    position: relative;
    width: fit-content;
    height: auto;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .2);
    padding: 15px;
    color: crimson;
    font-size: 32px;
  }
  
  .bubble6-arrow {
    position: absolute;
    right: 15px;
    bottom: -25px;
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, .2);
  }
    .bubble6-arrow::before {
      content: '';
      position: absolute;
      right: 5px;
      bottom: 2px;
      border-left: 23px solid transparent;
      border-top: 23px solid #a7a7a7;
    }
  
    .bubble6-arrow::after {
      content: '';
      position: absolute;
      right: 6px;
      bottom: 4px;
      border-left: 21px solid transparent;
      border-top: 21px solid #efefef;
    }
  
    .gen-link{
        width: 100%;
        height: 100%;
        background:#fcdfff;
    }
    .card1{
      margin:15% 13% 11% 14%;
      width:100%;
      height:100%;
      border-radius: 10%;
      padding: 2% 3%;
      box-shadow: 0px 5px 10px 0.6px rgba(0,0,0,0.2);
      background-color: white;
    }
    
    #mdiv {
      width: 25px;
      height: 25px;
      /* background-color: red;
      border: 1px solid black; */
  }

  .mdiv {
      height: 25px;
      width: 2px;
      margin-left: 12px;
      background-color: black;
      transform: rotate(45deg);
      Z-index: 1;
  }

  .md {
      height: 25px;
      width: 2px;
      background-color: black;
      transform: rotate(90deg
);
      Z-index: 2;
  }

  .button-align {
      padding-top: 2%;
      margin-left: 96%;
  }
    .head{
      font-size: 36px;
      font-family:'Crimson Text';
    }
    select{
      text-decoration-line: underline;
      border: 0px;
      outline: 0px;
      color: darkmagenta;    
    }
    option{
      border: 0px;
      outline: 0px;
    }
   
    .log{
     margin-left: 85%;
     margin-top: 3%;
     height: 48px;
     width: 9%;
     padding-top: 3px;
     padding-left: 25px;
     border-radius:30px ;
     outline-color: darkmagenta;
     color: white;
     background-color:darkmagenta;
     font-size: 28px;
     font-family:'Crimson Text';
     text-decoration: none;
     overflow: hidden;
     border: 1px solid #f2f8f9;
    }
    .text-inp{
      margin: 2% 1%;
      /* outline-color:#fff; */
      height: 60px;
      width: 70%;
      padding: 5px 10px;
      border:1px solid darkmagenta; 
      border-radius:30px ;
      color: darkorchid;
      font-size: 36px;
      font-family:'Crimson Text';
    }
    .text-inp:hover{
      border-radius: 0px;
    }
    .text-inp:active{
      border-radius: 0px;
    }
    .time{
      font-size: 36px;
      font-family:'Crimson Text';
      margin: 5% 0% ;
    }
    .text{
      color: darkmagenta;
    }
    .button{
      height: 60px;
      width: 20%;
      border-radius:30px ;
      outline-color: darkmagenta;
      /* border:1px solid darkmagenta;  */
      color: white;
      background-color:darkmagenta;
      font-size: 28px;
      font-family:'Crimson Text';
      margin: 2% 1% 0% 3%;
      overflow: hidden;
      border: 1px solid #f2f8f9;
     
    }
    .button:hover{
      transition: all 0.2s ease-out;
      box-shadow: 4px 8px 12px rgba(38, 38, 38, 0.2);
      top: -8px;
      border: 1px solid #cccccc;
      background-color:#fcdfff ;
      color: darkmagenta;
    }
    .mini{
      margin-top: 30%;
      margin-left: -25%;
    }

    .img{
      margin-left: 70%;
    }
    .close{
      float: right;
      margin: 3%;
      background-color: white;
      color: black;
    }
    @media only screen and (max-width:1400px)
    {
      .card1{
        margin:15% 12% 19% 11%;
      }
      .mini{
        height:400px;
        width:400px ;
        margin-left: -40%;
      }
      .log{
        padding-top: -10px;
        padding-left: 10px;
        width: 11%;
      }
    } 
    @media only screen and (max-width:1200px){
      
      .mini{
        height: 350px;
        width: 350px;
        margin-left: -45%;
        margin-top: 47%;
      }
      .card1{
        margin:15% 12% 32% 11%;
      }
      .head{
        font-size: 30px;
      }
      .time{
        font-size: 30px;
      } 
      .button{
        font-size: 24px;
      } 
      .log{
       
        padding-left: 8px;
        width: 13%;
      }
    }
    @media only screen and (max-width:1065px){
      .mini{
        height: 300px;
        width: 300px;
        margin-left: -45%;
        margin-top: 47%;
      }
      .card1{
        margin:15% 12% 45.5% 11%;
      }
      .log{
        width: 14%;
      }
      .head{
        font-size: 27px;
      }
      .time{
        font-size: 25px;
      } 
      .button{
        font-size: 20px;
        height: 40px;
      }
      .text-inp{
        height: 40px;
        width: 70%;
        font-size: 27px;       
      }      
    }
    @media only screen and (max-width:915px){
      .mini{
        height: 280px;
        width: 280px;
        margin-left: -45%;
        margin-top: 50%;
      }
      .card1{
        margin:15% 12% 60% 11%;
      }
      .log{
        width: 16%;
        font-size: 25px;
      }
      .head{
        font-size: 24px;
      }
      .time{
        font-size: 23px;
      } 
      .button{
        font-size: 18px;
        height: 40px;
        margin-top: 3%;
      }
      .text-inp{
        height: 40px;
        width: 70%;
        font-size: 24px;
        margin: 3% 2%;
       
      }
    }
    @media only screen and (max-width:850px){
      .mini{
        height: 240px;
        width: 240px;
        margin-left: -45%;
        margin-top: 50%;
      }
      .head{
        font-size: 28px;
      }
      .time{
        font-size: 28px;
      } 
      .button{
        font-size: 19px;
        height: 40px;
      }
      .text-inp{
        height: 40px;
        width: 70%;
        margin: 3% 2%;
        font-size: 27px;       
      }
      .card1{
        width: 100%;
        margin:15% 12% 64% 11%;
      }
      .log{
        font-size: 18px;
      }
    }
    @media only screen and (max-width:600px){
      .mini{
        display: none;
      }
      .head{
        font-size: 23px;
      }
      .time{
        font-size: 23px;
      } 
      .button{
        margin-top: 3% ;
        font-size: 15px;
        height: 35px;
      }
      .text-inp{
        height: 35px;
        width: 70%;
        margin: 2% 2%;
        font-size: 23px;       
      }
      .card1{
        width: 100%;
        margin:15% 12% 77% 11%;
      }
      .log{
        width: 17%;
        margin-left: 75%;
        padding-top:10px ;
      }
    }
    @media only screen and (max-width:480px){
  
      .head{
        font-size: 18px;
      }
      .time{
        font-size: 18px;
      } 
      .button{
        margin-top: -10% ;
        margin-left: 81%;
        font-size: 12px;
        width: fit-content;
        height: 26px;
      }
      .text-inp{
        height: 26px;
        width: 75%;
        font-size: 18px;
        margin: 2% 5%;       
      }
      .card1{
        width: 100%;
        margin:15% 12% 118% 11%;
      }
      .log{
        width: 22%;
        margin-left: 70%;
        padding-top:5px ;
      }
      
      .bubble6{
       
        width: fit-content;
        font-size: 24px;
        padding: 10px;
        margin-left:-15%;
      }
      .img{
        margin-left: 50%;
      }
      .mdiv{
        margin-left: 1px;
      }
    }
    @media only screen and (max-width:280px){
  
      .head{
        font-size: 12px;
      }
      .time{
        font-size: 12px;
      } 
      .button{
        margin-top: 3% ;
        margin-left: 38%;
        font-size: 10px;
        width: fit-content;
        height: 23px;
      }
      .text-inp{
        height: 23px;
        width: 85%;
        font-size: 12px;
        margin: 2% 7%;       
      }
      .card1{
        width: 100%;
        margin:15% 12% 235% 11%;
      }
      .log{
        width: 37%;
        margin-left: 55%;
        padding-top:5px ;
      }
      .img{
        margin-left: 15%;
      }
      .bubble6{
       
        width: fit-content;
        font-size: 20px;
        margin-left:-25%;
    
      }
    
      
    }